<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button [text]='"Inbox"' default-href="/home"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="openPage('New contact')">
        <ion-icon name="person-add-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Contacts</ion-title>
  </ion-toolbar>
  <ion-searchbar></ion-searchbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <app-list-contacts
      *ngFor="let contact of getContacts()"
      [contact]="contact"
    ></app-list-contacts>
  </ion-list>
</ion-content>
