<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Inbox</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="openPage('Contacts')" fill="clear">
        <ion-icon name="person-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="refresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-list>
    <app-message *ngFor="let message of getMessages()" [message]="message"></app-message>
  </ion-list>
</ion-content>
